:root {
  --lblue: #0393e3;
  --dark: #202a25;
}
body {
  background-color: #72cafd;
  color: white;
}

.game {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 70%;
  height: 40%;
}

.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-selection {
  background-color: #202a25;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  border: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  overflow: hidden;
}

.p1 {
  min-width: 15em;
  flex: 1;
  background-color: #36b3fc;
}

.p2 {
  min-width: 15em;
  flex: 1;
  background-color: #a31621;
}

.container-selection-title {
  font-size: large;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-score-score {
  display: flex;
  flex-direction: row;
}

.container-selection-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}
.container-selection-button {
  border-radius: 50%;
  border: 0px;
  font-size: medium;
  background-color: var(--dark);
  margin: 0.25em;
}

.disabled {
  pointer-events: none;
}

.container-selection-button:hover {
  background-color: #6644fc;
  color: white;
}
.active {
  background-color: #6644fc;
  color: white;
}
