:root {
/*   --lblue: #0393e3;
  --dark: #202a25;
  --p2: #a31621;
  --p1: #36b3fc;
  --info: #1ba249;
  --active: #6644fc; */
  --lblue: #0393e3;
  --dark: #202a25;
  --p1: #ABC9FF;
  --p2: #FF8B8B;
  --info: #AD7FEF;
  --active: #8B3FF4;
  --active-border: #4527A0;
  --tie: grey;

}
body {
  background-color: #DCCEEF;
  color: black;
}

.game {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 70%;
  height: 40%;
}

.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-selection {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  border: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  overflow: hidden;
}

.p1 {
  min-width: 15em;
  flex: 1;
  background-color: var(--p1);
}

.p2 {
  min-width: 15em;
  flex: 1;
  background-color: var(--p2);
}

.container-selection-title {
  font-size: large;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
  justify-content: center;
}




.container-selection-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}
.container-selection-button {
  border-radius: 50%;
  border: 0px;
  font-size: medium;
  background-color: var(--dark);
  margin: 0.25em;
  cursor: pointer;
}

.disabled {
  pointer-events: none;
}

.container-selection-button:hover {
  background-color: var(--active);
  color: white;
  box-shadow: inset 0px 0px 0px 5px var(--active-border);

}
.active {
  background-color: var(--active);
  color: white;
  box-shadow: inset 0px 0px 0px 5px var(--active-border);
}

.container-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 30%;
  margin: 1em;
}

.container-score {
  background-color: var(--info);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 50%;
  margin: 1em;
}

.horizontal-counter {
  background-color: var(--info);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
  height: 4em;
  overflow: hidden;
}
.horizontal-counter-column-title {
  margin-bottom: 0em;
  
}

.horizontal-counter-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:.75em
}

.no-margin-top {
  margin-top: 0;
}

.tie {
  background-color: var(--tie);
}

.button{
  background-color: var(--info);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  border-width: 0px;
  overflow: hidden;
  height: 3.5em;
  cursor:pointer;
}
